<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img style="width: 50px; height: 50px;" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
      <a class="navbar-brand">&nbsp; App Scrapy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if not current_user.is_authenticated %}
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('authentication.log_in_user') }}">LogIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('authentication.register_user') }}">Register</a>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('authentication.homepage') }}">Home Sys</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/authors/authors/all">All Products</a></li>
                <li><a class="dropdown-item" href="/authors/authors/add">Add Product</a></li>
              </ul>
            </li>             
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('authentication.scrapy_data') }}">Scrapy Data</a>
            </li>

          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('authentication.log_out_user') }}">LogOut (Logged as {{ current_user.user_name.title() }})</a>
            </li>            
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>